[data-tab-content] {
	display:none;
}

.active[data-tab-content] { 
    display:block;
}

body {
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid black;

}

.tab{
    cursor: pointer;
    padding: 30px;
}

.tab.active{
    background-color:rgb(173, 200, 235)
}

.tab:hover{
    background-color: rgb(162, 191, 230);
}

.tab-content {
    margin-left:20px;
    margin-right:20px;
}